<h1 class="page-header">My Events</h1>
<div class="add-cards">
  <div class="form-wrapper">
    <form>
      <span class="glyphicon glyphicon-glass"></span><input type="text" name="events[occasion]" class="form-input" placeholder="Add event...">
      <span class="glyphicon glyphicon-user"></span><input type="number" name="events[invited_count]" class="form-input num-input" min="1" value="1">
      <span class="glyphicon glyphicon-calendar"></span><input type="date" class="form-input" name="events[date]">
      <button class="btn-success">Create Event!</button>
    </form>
  </div>
</div>
<div class="errors">

</div>

<div class="cards">
  <% events.forEach(function(event){ %>
    <div class="event-card">
      <span class="card-title"><%= event.get("occasion") %></span><span class="glyphicon glyphicon-remove" data-event-id="<%= event.get("id") %>"></span>
      <br>
      Attendees: <%= event.get("invited_count") %>
      <br>
      Date: <%= event.get("month") %>/<%= event.get("day") %>/<%= event.get("year") %>
      <br>
      <br>
      <% if(event.get("cancelled")){ %>
        Cancelled!
      <% } else { %>
        <button type="button" class="btn btn-danger" data-event-id="<%= event.get("id") %>">Cancel</button>
      <% } %>
    </div>
  <%  }) %>
</div>
